@import compass/reset
@import compass/css3
@import mixin

::selection
	background: #ff9900
	color #fff

body
	margin: 0
	padding: 0
	background: #f5f5f5
	font-family: 'Roboto', sans-serif

	&.blur
		header h1,
		section
			+filter(blur(10px))
			+transition(0.5s)
			//+transform(scale(1.05))
		&:after
			position: fixed
			width: 100%
			height: 100%
			top: 0
			left: 0
			z-index: 50
			background-color: rgba(50,50,50,0.6)
			content: ''

nav
	width: 100%
	position: fixed
	height: 70px
	z-index: 5
	color: #fff
	.menu
		position: absolute
		line-height: 70px
		top: 0
		right: 10px
		font-size: 1.1rem
		li
			display: inline-block
			padding: 0 10px

header
	position: relative
	width: 100%
	text-align: center
	overflow: hidden
	color: #fff
	video,
	iframe
		position: fixed
		top: 50%
		left: 50%
		+transform(translate3D(-50%,-50%,0))
	iframe
		width: 100%
		height: 100%
	h1
		font-size: 160px
		text-indent: 5px
		font-family: 'Dancing Script', cursive
		font-style: italic
		width: 250px
		height: 250px
		line-height: 210px
		position: absolute
		top: 50%
		left: 50%
		margin: -125px
		border: 3px #fff solid
		box-sizing: border-box
		+border-radius(50%)
		+transform(rotate(-13deg))


section
	width: 100%
	position: relative
	z-index: 1
	background: rgba(255,255,255,0.7)
	h1
		font-size: 2.2rem
		line-height: 6rem
		text-align: center
		padding-top: 2rem
	ul
		text-align: center
		li
			width: 30%
			display: inline-block
			margin: 15px auto
			.cover
				width: 350px
				margin: auto
				height: 200px
				background: #ccc
			h2
				font-size: 1.2rem
				line-height: 1.8rem
			.tag
				font-size: .6rem
				text-transform: uppercase
	.about
		width: 60%
		margin: auto
		font-size: 1rem
		line-height: 2rem
		b
			font-weight: bold
			border-bottom: 2px #ff9900 solid
		h2
			font-size: 1.5rem
			line-height: 4rem
			text-align: center
			margin-top: 2.5rem
		.lang
			display: inline-block
			width: 47%
			vertical-align: top
			&.zh
				margin-left: 5%
		hr
			margin: 1.5rem 0
			opacity: 0
		ul
			&.skillset
				text-align: center
				display: inline-block
				width: 33%
				vertical-align: top
				i
					color: #ff9900
					font-size: 1.8rem
				li
					display: block
					margin: 0
					padding: 0
					width: 100%
					small
						font-size: .7rem
.detail
	position: fixed
	width: 92%
	left: 4%
	top: 5%
	height: 90%
	background-color: #efefef
	z-index: 0
	box-shadow: 0px 1px 20px rgba(100,100,100,0.4), 0px 1px 5px rgba(80,80,80,0.5)
	opacity: 0
	+transition(0.2s ease-out)
	+transform(translateY(30%) scale(1))
	&.show
		z-index: 100
		opacity: 1
		+transform(translateY(0) scale(1))
	.scroll
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		overflow: auto
	.inner
		width: 60%
		margin: 30px auto
		position: relative
		text-align: center

		h1
			font-size: 2.2rem
			line-height: 3rem
			padding: 5rem 0 1rem
		h3
			font-size: 1.3rem
			line-height: 2.2rem
			margin-bottom: 30px
			font-weight: thin
		.pic
			width: 100%
			height: 500px
			background-color: #ccc
			margin: 15px auto
		p
			font-size: 1rem
			line-height: 1.9rem
	.close
		font-size: 2rem
		position: absolute
		top: 15px
		right: 20px
		width: 25px
		height: 25px
		text-align: center
		cursor: pointer
		&:before,
		&:after
			content: ''
			width: 2px
			font-size: 0
			height: 30px
			position: absolute
			background-color: #888
			cursor: pointer
		&:before
			+transform(rotate(-45deg))
		&:after
			+transform(rotate(45deg))


