html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::selection {
  background: #ff9900;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
body.blur {
  overflow: hidden;
}
body.blur header h1,
body.blur section {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body.blur:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(50, 50, 50, 0.6);
  content: "";
}

nav {
  width: 100%;
  position: fixed;
  height: 70px;
  z-index: 5;
  color: #fff;
}
nav .menu {
  position: absolute;
  line-height: 70px;
  top: 0;
  right: 10px;
  font-size: 1.1rem;
}
nav .menu li {
  display: inline-block;
  padding: 0 10px;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background-image: url("../img/bg-video.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header video,
header iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate3D(-50%, -50%, 0);
  -ms-transform: translate3D(-50%, -50%, 0);
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
}
header iframe {
  width: 100%;
  height: 100%;
}
header h1 {
  font-size: 160px;
  text-indent: 5px;
  font-family: "Dancing Script", cursive;
  font-style: italic;
  width: 250px;
  height: 250px;
  line-height: 210px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px;
  border: 3px #fff solid;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
}

section {
  width: 100%;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}
section h1 {
  font-size: 2.2rem;
  line-height: 6rem;
  text-align: center;
  padding-top: 2rem;
}
section ul {
  text-align: center;
}
section ul li {
  width: 30%;
  display: inline-block;
  margin: 15px auto;
}
section ul li .cover {
  width: 350px;
  margin: auto;
  height: 200px;
  background: #ccc;
}
section ul li h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
section ul li .tag {
  font-size: 0.6rem;
  text-transform: uppercase;
}
section .about {
  width: 60%;
  margin: auto;
  font-size: 1rem;
  line-height: 2rem;
}
section .about b {
  font-weight: bold;
  border-bottom: 2px #ff9900 solid;
}
section .about h2 {
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 2.5rem;
}
section .about .lang {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
section .about .lang.zh {
  margin-left: 5%;
}
section .about hr {
  margin: 1.5rem 0;
  opacity: 0;
}
section .about ul.skillset {
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
section .about ul.skillset i {
  color: #ff9900;
  font-size: 1.8rem;
}
section .about ul.skillset li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
section .about ul.skillset li small {
  font-size: 0.7rem;
}

.detail {
  position: fixed;
  width: 92%;
  left: 4%;
  top: 8%;
  height: 84%;
  background-color: #efefef;
  z-index: 0;
  box-shadow: 0px 1px 20px rgba(100, 100, 100, 0.4), 0px 1px 5px rgba(80, 80, 80, 0.5);
  opacity: 0;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  -moz-transform: translateY(30%) scale(1);
  -ms-transform: translateY(30%) scale(1);
  -webkit-transform: translateY(30%) scale(1);
  transform: translateY(30%) scale(1);
}
.detail.show {
  z-index: 100;
  opacity: 1;
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}
.detail .scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.detail .scroll iframe {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.detail .close {
  font-size: 2rem;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
.detail .close:before, .detail .close:after {
  content: "";
  width: 2px;
  font-size: 0;
  height: 30px;
  position: absolute;
  background-color: #888;
  cursor: pointer;
}
.detail .close:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.detail .close:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project .inner {
  width: 60%;
  margin: 30px auto;
  position: relative;
  text-align: center;
}
.project .inner h1 {
  font-size: 2.2rem;
  line-height: 3rem;
  padding: 5rem 0 1rem;
}
.project .inner h3 {
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
  font-weight: thin;
}
.project .inner .pic {
  width: 100%;
  height: 500px;
  background-color: #ccc;
  margin: 15px auto;
}
.project .inner p {
  font-size: 1rem;
  line-height: 1.9rem;
}
